<div class="page-header">
  <h1>カルテ表示ページ</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-offset-2">
      <h3>痛みMap</h3>
      <%= image_tag('painmap.gif') %>
    </div>
    <div class="col-sm-7">
      <h3>お客様ID：<%= @record.user.display_id %></h3>
      <h4>作成日時: <%= @record.created_at.to_s %></h4>
      <h4>施術者: <%= @record.person_in_charge %></h4>
      <h4>施術店舗:<%= @record.store.name %></h4>
      <div class="panel panel-success">
        <div class="panel-heading">
          施術前の自覚症状一覧
        </div>
          <% @record.labels.each do |l| %>
          <div>・<%= l.name %></div>
          <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div id="center" class="col-sm-12 col-md-offset-2">
        <h3>この時痛かった部分(濃い色ほど痛みが強かった部分)</h3>
        <%= image_tag('footspot_仮.jpg') %>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div id="center" class="col-sm-12 col-md-offset-2">
        <strong>コメント一覧:</strong>
        <div id="comments_area">
          <%= render partial: 'comments/index', locals: { comments: @comments, record: @record } %>
        </div>
      </div>
  </div>
</div>

<div id="center">
  <%= link_to '店舗TOPへ', storetop_records_path %>
</div>
