<h1>カルテ表示ページ</h1>

<p>
  <strong>患者ID:</strong>
  <%= @record.user.display_id %>
</p>

<p>
  <strong>コメント:</strong>
  <%= @record.comment %>
</p>

<p>
  <strong>痛みMAP:</strong>
  <%= image_tag @record.expect_picture.url %>
</p>

<p>
  <strong>施術後画像:</strong>
  <%= image_tag @record.storage_picture.url %>
</p>

<p>
  <strong>自覚症状</strong>
  <% @record.labels.each do |l| %>
    ：<%= l.name %>
  <% end %>
</p>

<%= link_to '編集する', edit_record_path(@record) %> |
<%= link_to '店TOPへ', storetop_records_path %>
