<!DOCTYPE html>
<html>
  <head>
    <title>Tsubomaper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= include_gon %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
        <span class="sr-only">Bootstrap</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%= link_to image_tag('logo.png'), records_path, class:"navbar-brand" %>
        <a class=title>Tsubo Mapper</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to "ユーザLogout", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to 'ユーザーページへ(未実装)', '#' %></li>
          <li><%= link_to '施術一覧', records_path %></li>
          <% elsif store_signed_in? %>
            <li><%= link_to "店舗TOPへ", storetop_records_path %></li>
            <li><%= link_to "店舗編集ページへ", edit_store_registration_path(current_store.id) %></li>
            <li><%= link_to "Logout", destroy_store_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "新規店舗登録", new_store_registration_path %></li>
          <li><%= link_to "ユーザーログイン", user_session_path %></li>
          <li><%= link_to "店舗ログイン", store_session_path %></li>
        <% end %>

      </ul>
    </div>
  </div>
  </nav>
  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>

    <%= yield %>
  </body>
</html>
